{% extends "base.html" %}

{% block dom %}
<!-- <div id="content">
    <div id="section0"></div>
    <div id="section1"></div>
    <div id="section2"></div>
</div> -->
<canvas id="c"></canvas>
{% endblock %}